openai
langchain
langchain-openai
langchain-community

chromadb
sentence-transformers
langchain-chroma

flask
flask-cors

python-dotenv
tiktoken
requests
beautifulsoup4

colorlog

pytest

numpy
sentence-transformers